.activity {
	min-height: 100vh;
	background-color: #fff;
	font-size: 16px;
	display: flex;
	flex-direction: column;

	text-align: center;
}

.activity__title {
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 64px;
	color: #0065B5;


}

.post-wrap {
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.post-item {
	padding: 40px;
	cursor: pointer;
}

.post-item * {
	transition: .3s linear;
}

.item-content {
	background: #4F5665;
	padding: 40px;
	height: 100%
}

.item-icon {
	margin-bottom: 20px;
}



.post-item:hover .item-img,
.post-item:hover .item-body h3,
.post-item:hover .item-body p {
	transform: translateY(-8px);
}

.item-body {
	color: #fff;
	font-size: 14px;
	margin-top: 15px;
}

.item-body h3 {
	font-weight: 500;
	margin-bottom: 15px;
	transition-delay: .05s;
}

.item-body p {
	transition-delay: .1s;
}

.item-footer {
	padding-top: 15px;
}

.link {
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	position: relative;
	padding-right: 30px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
}

.link:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	height: .125rem;
	margin: auto;
	background: #009FDD;
	transform: scaleX(.2);
	transform-origin: left center;
	z-index: 0;
	transition: .6s cubic-bezier(.6, .01, 0, 1);
}

.link span {
	display: inline-block;
	position: relative;
	transform: translateX(-200%);
	transition: .6s cubic-bezier(.6, .01, 0, 1);
}

.post-item:hover .link span {
	transform: translateX(0%);
}

.post-item:hover .link:before {
	transform-origin: right center;
}

@media (min-width: 768px) {
	.post-item {
		flex-basis: 50%;
		flex-shrink: 0;
	}
}

@media (min-width: 960px) {
	.post-item {
		flex-basis: 50%;
	}
}